<div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card-body">
        <div class="col-md-4 col-sm-6 animate__animated animate__fadeIn">
            <div class="card" style="min-width: auto;;width: 15cm; background-color: black;color: blanchedalmond;">
                <img [src]='resultados[0].flag' [alt]='resultados[0].name' class="card-img-top">
                <p class="card-text">
                    Name: {{resultados[0].name}} 
                   </p>    
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">Population: </strong></div>
            <div class="col-sm-8"> {{resultados[0].population}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">Native Name:</strong></div>
            <div class="col-sm-8"> {{resultados[0].nativeName}}</div>
          </div>
        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">AltSpellings: </strong></div>
            <div class="col-sm-8">{{resultados[0].altSpellings}}</div>
        </div>    
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card-body">
        <div class="h4 mt-0 title">Basic Information</div>
        <br>
        <div class="row">
          <div class="col-sm-4"><strong class="text-uppercase"> Capital: </strong></div>
          <div class="col-sm-8">{{resultados[0].capital}}</div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-4"><strong class="text-uppercase">TopLevelDomain: </strong></div>
          <div class="col-sm-8">{{resultados[0].topLevelDomain}}</div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-4"><strong class="text-uppercase">Alpha2Code: </strong></div>
          <div class="col-sm-8">{{resultados[0].alpha2Code}}</div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-4"><strong class="text-uppercase"> Region: </strong></div>
          <div class="col-sm-8">{{resultados[0].region}}</div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-4"><strong class="text-uppercase">Area:</strong></div>
          <div class="col-sm-8">{{resultados[0].area}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase"> Subregion: </strong></div>
            <div class="col-sm-8">{{resultados[0].subregion}}</div>
          </div>
        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase"> CallingCodes:</strong></div>
            <div class="col-sm-8"> {{resultados[0].callingCodes}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase"> Languages:</strong></div>
            <div class="col-sm-8"> {{resultados[0].languages[0].name}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase"> Regional Blocs:</strong></div>
            <div class="col-sm-8"> {{resultados[0].regionalBlocs[0].name}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase"> Borders: </strong></div>
            <div class="col-sm-8"> {{resultados[0].borders}} </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase"> CallingCodes:</strong></div>
            <div class="col-sm-8"> {{resultados[0].callingCodes}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase"> Currencies:</strong></div>
            <div class="col-sm-8"> {{resultados[0].currencies[0].name}}</div>
        </div>
    </div>
    </div>
  </div>

